*{
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

/* header and banner design start */

.header{
    background-color: rgba(255, 144, 14, 0.1);
}

.navigation{
    display: flex;
    padding: 60px 0px 115px 0px;
    justify-content: space-evenly;

}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
}

.nav-bar ul li{
    padding-left: 15px;
    list-style-type: none;

}

.banner-section{
text-align: center;
margin-bottom: 85px;
}

.banner-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.banner-description{
    color: #727272;
    margin-left: 5px;
    margin-bottom: 33px;
}
.button{
    margin: 0 auto;
    width: 180px;
    height: 64px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    background-color: #FF900E;
    margin-bottom: 30px;
    margin-left: 5px;
}

.banner-image{
    width: 1440px;
    height: 700px;
    margin-bottom: 40px;
}

/* header and banner design end */
/* ------------------------------------------------------------------------------------ */

/* main part design start */

/* first part of main */
.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.image-section{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    /* width: 500px; */
}
.image-section img{
    width: 342px;
    height: 342px;
}
.image-title{
    line-height: 30px;
    margin-top: 10px;
    margin-left: 5px;
}
#span-gray{
    color: #727272 ;
}
#span-orange{
    color: #FF900E;
}
.image-description{
    width: 586px;
    height: 171px;
    color: #727272;
    text-align: left;
    margin: 10px 0px -20px 0px;
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
}

/* Second part of main */
.article-features{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.features{
   margin-bottom: 10px;
}
.small-feature{
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 6px 50px rgba(0, 0, 10, 0.1);
}
.feature-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding: 10px;
    border-left: 3px solid #FF900E ;
}
.feature-heading{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}
.feature-image img{
    width: 710px;
    height: 980px;
    position: relative;
}
.expert-btn{
    width: 340px;
    height: 180px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 60px;
    left: 750px;
    top: 3130px;
    position:absolute;
    line-height: 70px;
}
.mini-text{
    font-size: 25px;
    font-weight: 500;
}

/* third part of main */
.third-section{
    margin: 75px;
}
.achivement{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.achive{
    border: 2px solid #FF900E;
    padding-top: 80px;
    border-radius: 5px;
    width: 240px;
    height: 170px;
    transition: width 2s , height 2s , transform 3s;
}
.achive:hover{
    transform: rotate(360deg);
    width: 200px;
    height: 150px;
    color: white;
    background-color: #678942;
}
.third-section-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 5px;
    line-height: 30px;
}

/* sponsorship part */
.sponsor-div{
    text-align: center;
    margin-left: 5px;
}
.sponsor-title{
    /* text-align:center; */
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}
#sponsor-text{
    color: #727272;
    /* text-align: center; */
    margin-bottom: 50px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo img{
    margin-bottom: 50px;
}
/* MEANINGFUL DESIGN SECTION */
.all-design{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    padding: 33px;
    margin-bottom: 10px;
}
.all-design img{
    width: 224px;
    height: 104px;
}
.author{
    color: red;
}



/* main part design end */
/* ------------------------------------------------------------------------------------ */

/* footer design start */

.footer{
    background-color: rgba(255, 144, 14, 0.1);
    width: 1440px;
    height: 50px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
    padding-top: 20px;
}

/* footer design end */

/* ------------------------------------------------------------------------------------- */

/* MEDIA QUERY START FROM HERE */
/* MOBILE RESPONSIVE */
@media screen and (max-width:576px) {
    /* nav and banner part start and all okay */
    .navigation{
        flex-direction: column;
    }
    .nav-bar ul{
        flex-direction: column;
        margin-right: 40px;
        padding-top: 10px;
    }
    .nav-bar ul li{
        margin-bottom: 5px;
        text-align: left;
    }
    .banner-section{
        text-align: left;
    }
    .banner-image{
        width: 100%;
        height: 100%;
    }
    /* nav and banner part end and all okay */
    /* main first part start all okay */

    .main-section{
        flex-direction: column;
    }
    .image-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .image-description{
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
    }
    /* main first end all okay */

    /* main second start all okay */
    .article-features{
        flex-direction: column;
    }
    .features{
        width: 100%;
        height: 100%;
    }
    .feature-image img{
        width: 100%;
        height: 100%;
    }
    .expert-btn{
        position:static;
    }
    .small-feature{
        padding: 30px;
        margin-bottom: 20px;
    }
    /* main second end all okay */
/* main third part start and all okay */
    .third-section{
        margin: 0px;
    }
    .achivement{
        flex-direction: column;
        justify-content:center;
    }
    .achive{
        width: 240px;
        height: 170px;
        margin-bottom: 10px;
    }
    /* main third part end and all okay */

    /* main Unique section part start and all okay */
    .all-design{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding-left: 70px;
    }
    .third-section-title{
        line-height: 50px;
        margin-top: 10px;
    }
    /* main Unique section part end and all okay */

    .sponsor-div{
        text-align: left;
    }

    .logo{
        flex-direction:column;
    }

    /* sponsorship end and all okay */

    /* footer start and all okay */

    .footer{
        width: 100%;
     }

    /* footer end and all okay */
}