*{
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

/* header and banner design start */

.header{
    background-color: rgba(255, 144, 14, 0.1);
}

.navigation{
    display: flex;
    padding: 60px 0px 115px 0px;
    justify-content: space-evenly;

}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
}

.nav-bar ul li{
    list-style-type: none;
    margin-left: 80px;
}

.banner-section{
text-align: center;
margin-bottom: 85px;
}

.banner-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 20px;
}
.banner-description{
    color: #727272;
    margin-bottom: 33px;
}
.button{
    margin: 0 auto;
    width: 180px;
    height: 64px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    background-color: #FF900E;
    margin-bottom: 50px;
}

.banner-image{
    width: 1440px;
    height: 700px;
    margin-bottom: 40px;
}

/* header and banner design end */
/* ------------------------------------------------------------------------------------ */

/* main part design start */

/* first part of main */
.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.image-section{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    /* width: 500px; */
}
.image-section img{
    width: 342px;
    height: 342px;
}
.image-info{
    width: 530px;
}
.image-title{
    line-height: 30px;
}
#span-gray{
    color: #727272 ;
}
#span-orange{
    color: #FF900E;
}
.image-description{
    width: 586px;
    height: 171px;
    color: #727272;
    text-align: left;
    margin: 10px 0px 30px 0px;
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;

}

/* Second part of main */
.article-features{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.features{
    width: 600px;
    height: 90%;
}
.small-feature{
    width: 586px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 6px 50px rgba(0, 0, 10, 0.1);
}
.feature-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding: 10px;
    border-left: 3px solid #FF900E ;
}
.feature-heading{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}
.feature-image img{
    width: 710px;
    height: 980px;
    position: relative;
}
.expert-btn{
    width: 340px;
    height: 180px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 60px;
    left: 750px;
    top: 3130px;
    position:absolute;
    line-height: 70px;
}
.mini-text{
    font-size: 25px;
    font-weight: 500;
}

/* third part of main */
.third-section{
    margin: 75px;
}
.achivement{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.achive{
    border: 2px solid #FF900E;
    padding-top: 80px;
    border-radius: 5px;
    width: 240px;
    height: 170px;
    transition: width 2s , height 2s , transform 3s;
}
.achive:hover{
    transform: rotate(360deg);
    width: 200px;
    height: 150px;
    color: white;
    background-color: #678942;
}
.third-section-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 30px;
}

/* sponsorship part */
.sponsor-title{
    text-align:center;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}
#sponsor-text{
    color: #727272;
    text-align: center;
    margin-bottom: 50px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 50px; */
    mix-blend-mode:darken;
}
/* MEANINGFUL DESIGN SECTION */
.all-design{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    padding: 33px;
    margin-bottom: 10px;
}
.all-design img{
    width: 224px;
    height: 104px;
}
.author{
    color: red;
}



/* main part design end */
/* ------------------------------------------------------------------------------------ */

/* footer design start */

.footer{
    background-color: rgba(255, 144, 14, 0.1);
    width: 1440px;
    height: 50px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
    padding-top: 20px;
}

/* footer design end */

/* ------------------------------------------------------------------------------------- */

/* MEDIA QUERY START FROM HERE */
/* MOBILE RESPONSIVE */
@media screen and (max-width:576px) {

    /* header and banner style start */
    body{
        margin-left: 10px;
        width: 100%;
    }
    .navigation{
        flex-direction: column;
    }

    .nav-bar ul{
        flex-direction: column;
        margin-top: 15px;
    }
    .nav-bar ul li{
        /* box-shadow: 0px 6px 50px rgba(220, 205, 205, 0.597); */
        margin-bottom: 7px;
        font-size: 20px;
        padding: 10px;
        background-color: rgb(232, 210, 191);
        text-align: center;
        color: white;
        margin: 10px;
        
    }
    .banner-section{
        text-align: left;
    }

    .banner-image{
        width: 100%;
        height: 100%;
    }
    /* header and banner style end */

/* main part start */

/* first part */
.main-section{
    flex-direction: column;    
}
.image-section{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 50px;
}
.image-section img{
    width: 100%;
    height: 100%;
}

/* second part */
.article-features{
    width: 100%;
    height: 100%;
    flex-direction: column; 
    /* justify-content: center; 
    align-items: center;  */
}

.feature-image img{
    width: 100%;
    height: 100%;
}
.small-feature{
    width: 87%;
    box-shadow: 0px 6px 50px rgba(0, 0, 10, 0.1);
}
.image-description{
    
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;

}
.expert-btn{
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    position: static;
}

/* third part */
.achivement{
    flex-direction: column;
}
.achive{
    padding-top: 80px;
    margin-bottom: 10px;
}
.third-section-title{
    margin-left: -50px;
}

/* sponsorship */
.sponsor-title{
    text-align:left;
}
#sponsor-text{
    text-align: left;
}
.logo{
    flex-direction: column;
}
.logo img{
    margin-bottom: 30px;
}

/* main part end */


/* footer style start */

.footer{
    width: 100%;
}

/* footer style end */

}